<div class="dialogue__wrapper wrapper review_notification review_notification__stage1">
    <div class="layout layout--center"><!--
        --><div class="layout__item dialogue__container">
            <div class="dialogue__window">

                <header class="dialogue__header">
                    <a href="#" class="close icon icon--cross [ js-close ]"></a>
                    <h4 class="heading">Heading</h4>
                </header>

                <p>Text</p>

                <form class="js-form" novalidate>
                    <div class="tar">
                        <button class="btn">Done.</button>
                    </div>
                </form>

            </div>
        </div><!--
    --></div>
</div>

<div class="dialogue__overlay [ js-close ]"></div>
