<div class="dialogue__wrapper wrapper">
    <div class="layout layout--center"><!--
        --><div class="layout__item dialogue__container">
            <div class="dialogue__window">
                <header class="dialogue__header">
                    <h4 class="heading"><%= _.lang('dialogue.profile.live.create.heading') %></h4>
                    <a href="#" class="close icon icon--cross [ js-close ]"></a>
                </header>

                <p><%= _.lang('dialogue.profile.live.create.introduction') %></p>

                <form class="js-form" novalidate>
                    <fieldset class="fieldset">
                        <div class="fieldset__content box u-m0">
                            <h4 class="delta">Going Live on the Site</h4>

                            <p>We thoroughly vet every tutor's application before they can join our site. Once we have verified your ID and reviewed your profile, we will let you know if you have been successful in your application.</p> 
                            <p>If you have a DBS check, please email us a copy and we will add the DBS-checked status to your profile.</p>

                            <h4 class="epsilon u-mt">Matching you with New Students</h4>
                            <p>We work hard to match you with new students. Sometimes they will message you directly through the site but they also come directly to us. Either way, they will message you through the site - let them know how, when and where you can help them.</p>
                            <p>Sometimes it's not a good match between you and a student, so we don't let you exchange phone numbers or email addresses until a lesson is booked and confirmed (you will sometimes see them starred out so please explain this to students). That way, we can see who needs more help and match them with another tutor.</p>

                            <h4 class="epsilon u-mt">Booking Sessions</h4>
                            <p>Once you have agreed a time and location for your lessons, go to the 'Book a Lesson' tab and book it in. The student will then get an email asking them to confirm the session by entering their payment details. We will follow-up with students to make sure everything goes smoothly and you will receive a confirmation email when they have confirmed the lesson.</p>

                            <h4 class="epsilon u-mt">Getting Paid</h4>
                            <p>Students pay you through the Tutora payment system. Please do not accept payments in cash. We take payment 24 hours after each session you teach and will pay you directly into your account 7 days later. If you haven't already done so, be sure to enter your payment details on the account tab.</p>

                            <p>For students you find through Tutora, we keep a commission of 15%-25% on each lesson you
                                have together. The more hours you teach, the lower our commission falls and the more
                                money you'll take home.</p>

                            <p>Students pay you through the Tutora payment system. Please do not accept payments in cash.</p>
                            
                            <h4 class="epsilon u-mt">Your Relationship with Us</h4>
                            <p>We strongly believe Tutors should have full control of their own business - we are not an agency. You have full responsibility and flexibility for setting up appointments with students, selecting which opportunities to pursue and how much to charge. We are always here to help.</p>
                            
                            <h4 class="epsilon u-mt">DBS Checks</h4>
                            <p>We do a lot of work with post-16 and adult learners so we do not require a DBS (Disclosure and Barring Service) check for you to join our site. Many parents, however, seek a tutor with one and for this purpose we add a DBS-checked status badge to tutors who have one. If you have one and have not done so already, please email us a copy of your DBS certificate or your DBS update service details (full name, number and date of birth).</p>
                        </div>
                    </fieldset>

                    <div class="tar">
                        <a href="#" class="u-mr [ js-close ]">Cancel</a>
                        <button class="btn">Accept &amp; Submit</button>
                    </div>
                </form>
            </div>
        </div><!--
    --></div>
</div>

<div class="dialogue__overlay [ js-close ]"></div>
