<h4 class="delta">Personal Details</h4>

<% if (showIntro) { %>
    <div class="[ box box--small box--ui ] u-mt [ js-dismissable ]" data-dismissable-id="tutor_account_personal_introduction">
        <span class="box__close [ icon icon--cancel ] [ js-close ]"></span>
        <p><%= _.lang('dashboard.tutor.account.personal.introduction') %></p>
    </div>
<% } %>

<form class="[ layout ] [ js-form ]">

    <!--
    Change password
    --><div class="[ layout__item field field--label ]">
        <label for="reset_password" class="field__label">Change password</label>

        <p>
            To change the current user password, enter the new password in both fields.
        </p>
    </div><!--

    --><div class="[ layout__item field field--half ]">
    <input type="password" name="reset_password" id="reset_password"
           placeholder="Enter your new password"
           class="[ input input--full input--squared input--bordered ] field__input [ js-reset-password ]">
    <div class="field__error"></div>
    </div><!--

    --><div class="[ layout__item field field--half ]">
        <input type="password" name="confirm_reset_password" id="confirm_reset_password"
               placeholder="Confirm the password"
               class="[ input input--full input--squared input--bordered ] field__input [ js-confirm-reset-password ]">
        <div class="field__error"></div>
    </div><!--
    
    Name
    --><div class="[ layout__item field field--label ]">
        <label for="first_name" class="field__label">Name</label>
    </div><!--

    --><div class="[ layout__item field field--half ]">
        <input type="text" name="first_name" id="first_name"
            value="<%= first_name %>" placeholder="First Name"
            class="[ input input--full input--squared input--bordered ] field__input [ js-first-name ]">
        <div class="field__error"></div>
    </div><!--

    --><div class="[ layout__item field field--half ]">
        <input type="text" name="last_name" id="last_name"
            value="<%= last_name %>" placeholder="Last Name"
            class="[ input input--full input--squared input--bordered ] field__input [ js-last-name ]">
        <div class="field__error"></div>
    </div><!--

    Contact
    --><div class="[ layout__item field field--label ]">
        <label for="first_name" class="field__label">Contact</label>
    </div><!--

    --><div class="[ layout__item field field--half ]">
        <input type="text" name="email" id="email"
            value="<%= email %>" placeholder="Email"
            class="[ input input--full input--squared input--bordered ] field__input [ js-email ]">
        <div class="field__error"></div>
    </div><!--

    --><div class="[ layout__item field field--half ]">
        <input type="text" name="telephone" id="telephone"
            value="<%= telephone %>" placeholder="Mobile Number"
            class="[ input input--full input--squared input--bordered ] field__input [ js-telephone ]">
        <div class="field__error"></div>
    </div><!--

    Address
    --><div class="[ layout__item field field--label ]">
        <label for="address_street" class="field__label">
            <abbr title="You will be found by students by distance from this address. It will never been shown to them, though.">
                Address
            </abbr>
        </label>
    </div><!--

    --><div class="[ layout__item field field--address-street ]">
        <input type="text" name="address_street" id="address_street"
            value="<%= addresses.default.line_1 %>" placeholder="Street"
            class="[ input input--full input--squared input--bordered ] field__input [ js-address-line-1 ]">
        <div class="field__error"></div>
    </div><!--

    --><div class="[ layout__item field field--address-town ]">
        <input type="text" name="address_town" id="address_town"
            value="<%= addresses.default.line_2 %>" placeholder="Town"
            class="[ input input--full input--squared input--bordered ] field__input [ js-address-line-2 ]">
        <div class="field__error"></div>
    </div><!--

    --><div class="[ layout__item field field--address-city ]">
        <input type="text" name="address_city" id="address_city"
            value="<%= addresses.default.line_3 %>" placeholder="County"
            class="[ input input--full input--squared input--bordered ] field__input [ js-address-line-3 ]">
        <div class="field__error"></div>
    </div><!--

    --><div class="[ layout__item field field--half ]">
        <input type="text" name="address_postcode" id="address_postcode"
            value="<%= addresses.default.postcode %>" placeholder="Postcode"
            class="[ input input--full input--squared input--bordered ] field__input [ js-address-postcode ]">
        <div class="field__error"></div>
    </div><!--

    --><div class="[ layout__item ] tar u-mt u-mb">
        <button class="btn [ js-submit ]">Save</button>
    </div><!--
--></form>
