.feature {
    text-align: center;
}

    .feature__img {

    }

    .feature__header {

    }

    .feature__body {
        @include media-query('>tablet') {
            width: $ten-twelfths;
            margin: 0 auto;
        }

        @include media-query('>1024') {
            width: $six-twelfths;
            margin: 0 auto;
        }
    }

    .feature__body--wide {
        @include media-query('>tablet') {
            width: 100%;
            margin: 0 auto;
        }

        @include media-query('>1024') {
            width: 100%;
            margin: 0 auto;
        }
    }

       