.search-header {
    text-align: center;

    @include media-query('>1024') {
        text-align: left;
    }
}
    .search-header__heading,
    .search-header__filter {
        margin-bottom: $spacing-unit--small;

        .heading {
            margin: 0;
        }
    }

    .search-header__breadcrumbs {
        @include media-query('>1024') {
            float: right;
        }
    }

    .search-header__heading,
    .search-header__filter,
    .search-header__breadcrumbs {
        @include media-query('>1024') {
            width: initial;
            margin-bottom: 0;
        }
    }

    .layout__item--filter-by {
        float: right;
    }