/**
 * Whole.
 */
$one-whole:       100%;

/**
 * Halves.
 */
$one-half:        50%;
$two-quarters:    $one-half;
$three-sixths:    $one-half;
$four-eighths:    $one-half;
$five-tenths:     $one-half;
$six-twelfths:    $one-half;

/**
 * Thirds.
 */
$one-third:       33.3333333%;
$two-sixths:      $one-third;
$three-ninths:    $one-third;
$four-twelfths:   $one-third;
$two-thirds:      66.6666666%;
$four-sixths:     $two-thirds;
$six-ninths:      $two-thirds;
$eight-twelfths:  $two-thirds;

/**
 * Quarters.
 */
$one-quarter:     25%;
$two-eighths:     $one-quarter;
$three-twelfths:  $one-quarter;
$three-quarters:  75%;
$six-eighths:     $three-quarters;
$nine-twelfths:   $three-quarters;

/**
 * Fifths.
 */
$one-fifth:       20%;
$two-tenths:      $one-fifth;
$two-fifths:      40%;
$four-tenths:     $two-fifths;
$three-fifths:    60%;
$six-tenths:      $three-fifths;
$four-fifths:     80%;
$eight-tenths:    $four-fifths;

/**
 * Sixths.
 */
$one-sixth:       16.6666666%;
$two-twelfths:    $one-sixth;
$five-sixths:     83.3333333%;
$ten-twelfths:    $five-sixths;

/**
 * Eighths.
 */
$one-eighth:      12.5%;
$three-eighths:   37.5%;
$five-eighths:    62.5%;
$seven-eighths:   87.5%;

/**
 * Ninths.
 */
$one-ninth:       11.1111111%;
$two-ninths:      22.2222222%;
$four-ninths:     44.4444444%;
$five-ninths:     55.5555555%;
$seven-ninths:    77.7777777%;
$eight-ninths:    88.8888888%;

/**
 * Tenths.
 */
$one-tenth:       10%;
$three-tenths:    30%;
$seven-tenths:    70%;
$nine-tenths:     90%;

/**
 * Twelfths.
 */
$one-twelfth:     8.3333333%;
$five-twelfths:   41.6666666%;
$seven-twelfths:  58.3333333%;
$eleven-twelfths: 91.6666666%;

