/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$book-large-1x-name: 'book-large-1x';
$book-large-1x-x: 64px;
$book-large-1x-y: 146px;
$book-large-1x-offset-x: -64px;
$book-large-1x-offset-y: -146px;
$book-large-1x-width: 30px;
$book-large-1x-height: 30px;
$book-large-1x-total-width: 271px;
$book-large-1x-total-height: 234px;
$book-large-1x-image: '../img/sprite--icon@1x.png';
$book-large-1x: (64px, 146px, -64px, -146px, 30px, 30px, 271px, 234px, '../img/sprite--icon@1x.png', 'book-large-1x', );
$book-1x-name: 'book-1x';
$book-1x-x: 251px;
$book-1x-y: 127px;
$book-1x-offset-x: -251px;
$book-1x-offset-y: -127px;
$book-1x-width: 16px;
$book-1x-height: 16px;
$book-1x-total-width: 271px;
$book-1x-total-height: 234px;
$book-1x-image: '../img/sprite--icon@1x.png';
$book-1x: (251px, 127px, -251px, -127px, 16px, 16px, 271px, 234px, '../img/sprite--icon@1x.png', 'book-1x', );
$bulb-1x-name: 'bulb-1x';
$bulb-1x-x: 154px;
$bulb-1x-y: 80px;
$bulb-1x-offset-x: -154px;
$bulb-1x-offset-y: -80px;
$bulb-1x-width: 31px;
$bulb-1x-height: 47px;
$bulb-1x-total-width: 271px;
$bulb-1x-total-height: 234px;
$bulb-1x-image: '../img/sprite--icon@1x.png';
$bulb-1x: (154px, 80px, -154px, -80px, 31px, 47px, 271px, 234px, '../img/sprite--icon@1x.png', 'bulb-1x', );
$burger-1x-name: 'burger-1x';
$burger-1x-x: 194px;
$burger-1x-y: 72px;
$burger-1x-offset-x: -194px;
$burger-1x-offset-y: -72px;
$burger-1x-width: 15px;
$burger-1x-height: 7px;
$burger-1x-total-width: 271px;
$burger-1x-total-height: 234px;
$burger-1x-image: '../img/sprite--icon@1x.png';
$burger-1x: (194px, 72px, -194px, -72px, 15px, 7px, 271px, 234px, '../img/sprite--icon@1x.png', 'burger-1x', );
$cancel-active-1x-name: 'cancel--active-1x';
$cancel-active-1x-x: 32px;
$cancel-active-1x-y: 203px;
$cancel-active-1x-offset-x: -32px;
$cancel-active-1x-offset-y: -203px;
$cancel-active-1x-width: 16px;
$cancel-active-1x-height: 16px;
$cancel-active-1x-total-width: 271px;
$cancel-active-1x-total-height: 234px;
$cancel-active-1x-image: '../img/sprite--icon@1x.png';
$cancel-active-1x: (32px, 203px, -32px, -203px, 16px, 16px, 271px, 234px, '../img/sprite--icon@1x.png', 'cancel--active-1x', );
$cancel-1x-name: 'cancel-1x';
$cancel-1x-x: 48px;
$cancel-1x-y: 203px;
$cancel-1x-offset-x: -48px;
$cancel-1x-offset-y: -203px;
$cancel-1x-width: 16px;
$cancel-1x-height: 16px;
$cancel-1x-total-width: 271px;
$cancel-1x-total-height: 234px;
$cancel-1x-image: '../img/sprite--icon@1x.png';
$cancel-1x: (48px, 203px, -48px, -203px, 16px, 16px, 271px, 234px, '../img/sprite--icon@1x.png', 'cancel-1x', );
$card-active-1x-name: 'card--active-1x';
$card-active-1x-x: 175px;
$card-active-1x-y: 127px;
$card-active-1x-offset-x: -175px;
$card-active-1x-offset-y: -127px;
$card-active-1x-width: 20px;
$card-active-1x-height: 16px;
$card-active-1x-total-width: 271px;
$card-active-1x-total-height: 234px;
$card-active-1x-image: '../img/sprite--icon@1x.png';
$card-active-1x: (175px, 127px, -175px, -127px, 20px, 16px, 271px, 234px, '../img/sprite--icon@1x.png', 'card--active-1x', );
$card-1x-name: 'card-1x';
$card-1x-x: 195px;
$card-1x-y: 127px;
$card-1x-offset-x: -195px;
$card-1x-offset-y: -127px;
$card-1x-width: 20px;
$card-1x-height: 16px;
$card-1x-total-width: 271px;
$card-1x-total-height: 234px;
$card-1x-image: '../img/sprite--icon@1x.png';
$card-1x: (195px, 127px, -195px, -127px, 20px, 16px, 271px, 234px, '../img/sprite--icon@1x.png', 'card-1x', );
$confirm-active-1x-name: 'confirm--active-1x';
$confirm-active-1x-x: 80px;
$confirm-active-1x-y: 66px;
$confirm-active-1x-offset-x: -80px;
$confirm-active-1x-offset-y: -66px;
$confirm-active-1x-width: 16px;
$confirm-active-1x-height: 14px;
$confirm-active-1x-total-width: 271px;
$confirm-active-1x-total-height: 234px;
$confirm-active-1x-image: '../img/sprite--icon@1x.png';
$confirm-active-1x: (80px, 66px, -80px, -66px, 16px, 14px, 271px, 234px, '../img/sprite--icon@1x.png', 'confirm--active-1x', );
$confirm-1x-name: 'confirm-1x';
$confirm-1x-x: 96px;
$confirm-1x-y: 66px;
$confirm-1x-offset-x: -96px;
$confirm-1x-offset-y: -66px;
$confirm-1x-width: 16px;
$confirm-1x-height: 14px;
$confirm-1x-total-width: 271px;
$confirm-1x-total-height: 234px;
$confirm-1x-image: '../img/sprite--icon@1x.png';
$confirm-1x: (96px, 66px, -96px, -66px, 16px, 14px, 271px, 234px, '../img/sprite--icon@1x.png', 'confirm-1x', );
$contact-1x-name: 'contact-1x';
$contact-1x-x: 184px;
$contact-1x-y: 146px;
$contact-1x-offset-x: -184px;
$contact-1x-offset-y: -146px;
$contact-1x-width: 34px;
$contact-1x-height: 24px;
$contact-1x-total-width: 271px;
$contact-1x-total-height: 234px;
$contact-1x-image: '../img/sprite--icon@1x.png';
$contact-1x: (184px, 146px, -184px, -146px, 34px, 24px, 271px, 234px, '../img/sprite--icon@1x.png', 'contact-1x', );
$cross-1x-name: 'cross-1x';
$cross-1x-x: 219px;
$cross-1x-y: 178px;
$cross-1x-offset-x: -219px;
$cross-1x-offset-y: -178px;
$cross-1x-width: 17px;
$cross-1x-height: 17px;
$cross-1x-total-width: 271px;
$cross-1x-total-height: 234px;
$cross-1x-image: '../img/sprite--icon@1x.png';
$cross-1x: (219px, 178px, -219px, -178px, 17px, 17px, 271px, 234px, '../img/sprite--icon@1x.png', 'cross-1x', );
$delete-active-1x-name: 'delete--active-1x';
$delete-active-1x-x: 252px;
$delete-active-1x-y: 178px;
$delete-active-1x-offset-x: -252px;
$delete-active-1x-offset-y: -178px;
$delete-active-1x-width: 16px;
$delete-active-1x-height: 16px;
$delete-active-1x-total-width: 271px;
$delete-active-1x-total-height: 234px;
$delete-active-1x-image: '../img/sprite--icon@1x.png';
$delete-active-1x: (252px, 178px, -252px, -178px, 16px, 16px, 271px, 234px, '../img/sprite--icon@1x.png', 'delete--active-1x', );
$delete-1x-name: 'delete-1x';
$delete-1x-x: 236px;
$delete-1x-y: 178px;
$delete-1x-offset-x: -236px;
$delete-1x-offset-y: -178px;
$delete-1x-width: 16px;
$delete-1x-height: 16px;
$delete-1x-total-width: 271px;
$delete-1x-total-height: 234px;
$delete-1x-image: '../img/sprite--icon@1x.png';
$delete-1x: (236px, 178px, -236px, -178px, 16px, 16px, 271px, 234px, '../img/sprite--icon@1x.png', 'delete-1x', );
$edit-active-1x-name: 'edit--active-1x';
$edit-active-1x-x: 64px;
$edit-active-1x-y: 203px;
$edit-active-1x-offset-x: -64px;
$edit-active-1x-offset-y: -203px;
$edit-active-1x-width: 16px;
$edit-active-1x-height: 16px;
$edit-active-1x-total-width: 271px;
$edit-active-1x-total-height: 234px;
$edit-active-1x-image: '../img/sprite--icon@1x.png';
$edit-active-1x: (64px, 203px, -64px, -203px, 16px, 16px, 271px, 234px, '../img/sprite--icon@1x.png', 'edit--active-1x', );
$edit-1x-name: 'edit-1x';
$edit-1x-x: 80px;
$edit-1x-y: 203px;
$edit-1x-offset-x: -80px;
$edit-1x-offset-y: -203px;
$edit-1x-width: 16px;
$edit-1x-height: 16px;
$edit-1x-total-width: 271px;
$edit-1x-total-height: 234px;
$edit-1x-image: '../img/sprite--icon@1x.png';
$edit-1x: (80px, 203px, -80px, -203px, 16px, 16px, 271px, 234px, '../img/sprite--icon@1x.png', 'edit-1x', );
$error-large-1x-name: 'error--large-1x';
$error-large-1x-x: 0px;
$error-large-1x-y: 80px;
$error-large-1x-offset-x: 0px;
$error-large-1x-offset-y: -80px;
$error-large-1x-width: 74px;
$error-large-1x-height: 66px;
$error-large-1x-total-width: 271px;
$error-large-1x-total-height: 234px;
$error-large-1x-image: '../img/sprite--icon@1x.png';
$error-large-1x: (0px, 80px, 0px, -80px, 74px, 66px, 271px, 234px, '../img/sprite--icon@1x.png', 'error--large-1x', );
$error-1x-name: 'error-1x';
$error-1x-x: 0px;
$error-1x-y: 178px;
$error-1x-offset-x: 0px;
$error-1x-offset-y: -178px;
$error-1x-width: 28px;
$error-1x-height: 25px;
$error-1x-total-width: 271px;
$error-1x-total-height: 234px;
$error-1x-image: '../img/sprite--icon@1x.png';
$error-1x: (0px, 178px, 0px, -178px, 28px, 25px, 271px, 234px, '../img/sprite--icon@1x.png', 'error-1x', );
$eye-active-1x-name: 'eye--active-1x';
$eye-active-1x-x: 205px;
$eye-active-1x-y: 115px;
$eye-active-1x-offset-x: -205px;
$eye-active-1x-offset-y: -115px;
$eye-active-1x-width: 20px;
$eye-active-1x-height: 12px;
$eye-active-1x-total-width: 271px;
$eye-active-1x-total-height: 234px;
$eye-active-1x-image: '../img/sprite--icon@1x.png';
$eye-active-1x: (205px, 115px, -205px, -115px, 20px, 12px, 271px, 234px, '../img/sprite--icon@1x.png', 'eye--active-1x', );
$eye-1x-name: 'eye-1x';
$eye-1x-x: 185px;
$eye-1x-y: 115px;
$eye-1x-offset-x: -185px;
$eye-1x-offset-y: -115px;
$eye-1x-width: 20px;
$eye-1x-height: 12px;
$eye-1x-total-width: 271px;
$eye-1x-total-height: 234px;
$eye-1x-image: '../img/sprite--icon@1x.png';
$eye-1x: (185px, 115px, -185px, -115px, 20px, 12px, 271px, 234px, '../img/sprite--icon@1x.png', 'eye-1x', );
$facebook-1x-name: 'facebook-1x';
$facebook-1x-x: 0px;
$facebook-1x-y: 203px;
$facebook-1x-offset-x: 0px;
$facebook-1x-offset-y: -203px;
$facebook-1x-width: 16px;
$facebook-1x-height: 31px;
$facebook-1x-total-width: 271px;
$facebook-1x-total-height: 234px;
$facebook-1x-image: '../img/sprite--icon@1x.png';
$facebook-1x: (0px, 203px, 0px, -203px, 16px, 31px, 271px, 234px, '../img/sprite--icon@1x.png', 'facebook-1x', );
$fancy-tick-1x-name: 'fancy-tick-1x';
$fancy-tick-1x-x: 124px;
$fancy-tick-1x-y: 146px;
$fancy-tick-1x-offset-x: -124px;
$fancy-tick-1x-offset-y: -146px;
$fancy-tick-1x-width: 30px;
$fancy-tick-1x-height: 30px;
$fancy-tick-1x-total-width: 271px;
$fancy-tick-1x-total-height: 234px;
$fancy-tick-1x-image: '../img/sprite--icon@1x.png';
$fancy-tick-1x: (124px, 146px, -124px, -146px, 30px, 30px, 271px, 234px, '../img/sprite--icon@1x.png', 'fancy-tick-1x', );
$gplus-1x-name: 'gplus-1x';
$gplus-1x-x: 154px;
$gplus-1x-y: 146px;
$gplus-1x-offset-x: -154px;
$gplus-1x-offset-y: -146px;
$gplus-1x-width: 30px;
$gplus-1x-height: 30px;
$gplus-1x-total-width: 271px;
$gplus-1x-total-height: 234px;
$gplus-1x-image: '../img/sprite--icon@1x.png';
$gplus-1x: (154px, 146px, -154px, -146px, 30px, 30px, 271px, 234px, '../img/sprite--icon@1x.png', 'gplus-1x', );
$heart-1x-name: 'heart-1x';
$heart-1x-x: 0px;
$heart-1x-y: 146px;
$heart-1x-offset-x: 0px;
$heart-1x-offset-y: -146px;
$heart-1x-width: 32px;
$heart-1x-height: 32px;
$heart-1x-total-width: 271px;
$heart-1x-total-height: 234px;
$heart-1x-image: '../img/sprite--icon@1x.png';
$heart-1x: (0px, 146px, 0px, -146px, 32px, 32px, 271px, 234px, '../img/sprite--icon@1x.png', 'heart-1x', );
$line-box-tick-1x-name: 'line-box-tick-1x';
$line-box-tick-1x-x: 219px;
$line-box-tick-1x-y: 80px;
$line-box-tick-1x-offset-x: -219px;
$line-box-tick-1x-offset-y: -80px;
$line-box-tick-1x-width: 38px;
$line-box-tick-1x-height: 30px;
$line-box-tick-1x-total-width: 271px;
$line-box-tick-1x-total-height: 234px;
$line-box-tick-1x-image: '../img/sprite--icon@1x.png';
$line-box-tick-1x: (219px, 80px, -219px, -80px, 38px, 30px, 271px, 234px, '../img/sprite--icon@1x.png', 'line-box-tick-1x', );
$line-tick-1x-name: 'line-tick-1x';
$line-tick-1x-x: 154px;
$line-tick-1x-y: 127px;
$line-tick-1x-offset-x: -154px;
$line-tick-1x-offset-y: -127px;
$line-tick-1x-width: 21px;
$line-tick-1x-height: 17px;
$line-tick-1x-total-width: 271px;
$line-tick-1x-total-height: 234px;
$line-tick-1x-image: '../img/sprite--icon@1x.png';
$line-tick-1x: (154px, 127px, -154px, -127px, 21px, 17px, 271px, 234px, '../img/sprite--icon@1x.png', 'line-tick-1x', );
$location-1x-name: 'location-1x';
$location-1x-x: 96px;
$location-1x-y: 203px;
$location-1x-offset-x: -96px;
$location-1x-offset-y: -203px;
$location-1x-width: 16px;
$location-1x-height: 16px;
$location-1x-total-width: 271px;
$location-1x-total-height: 234px;
$location-1x-image: '../img/sprite--icon@1x.png';
$location-1x: (96px, 203px, -96px, -203px, 16px, 16px, 271px, 234px, '../img/sprite--icon@1x.png', 'location-1x', );
$menu-1x-name: 'menu-1x';
$menu-1x-x: 218px;
$menu-1x-y: 146px;
$menu-1x-offset-x: -218px;
$menu-1x-offset-y: -146px;
$menu-1x-width: 24px;
$menu-1x-height: 24px;
$menu-1x-total-width: 271px;
$menu-1x-total-height: 234px;
$menu-1x-image: '../img/sprite--icon@1x.png';
$menu-1x: (218px, 146px, -218px, -146px, 24px, 24px, 271px, 234px, '../img/sprite--icon@1x.png', 'menu-1x', );
$message-active-1x-name: 'message--active-1x';
$message-active-1x-x: 233px;
$message-active-1x-y: 127px;
$message-active-1x-offset-x: -233px;
$message-active-1x-offset-y: -127px;
$message-active-1x-width: 18px;
$message-active-1x-height: 16px;
$message-active-1x-total-width: 271px;
$message-active-1x-total-height: 234px;
$message-active-1x-image: '../img/sprite--icon@1x.png';
$message-active-1x: (233px, 127px, -233px, -127px, 18px, 16px, 271px, 234px, '../img/sprite--icon@1x.png', 'message--active-1x', );
$message-large-1x-name: 'message-large-1x';
$message-large-1x-x: 32px;
$message-large-1x-y: 146px;
$message-large-1x-offset-x: -32px;
$message-large-1x-offset-y: -146px;
$message-large-1x-width: 32px;
$message-large-1x-height: 32px;
$message-large-1x-total-width: 271px;
$message-large-1x-total-height: 234px;
$message-large-1x-image: '../img/sprite--icon@1x.png';
$message-large-1x: (32px, 146px, -32px, -146px, 32px, 32px, 271px, 234px, '../img/sprite--icon@1x.png', 'message-large-1x', );
$message-1x-name: 'message-1x';
$message-1x-x: 215px;
$message-1x-y: 127px;
$message-1x-offset-x: -215px;
$message-1x-offset-y: -127px;
$message-1x-width: 18px;
$message-1x-height: 16px;
$message-1x-total-width: 271px;
$message-1x-total-height: 234px;
$message-1x-image: '../img/sprite--icon@1x.png';
$message-1x: (215px, 127px, -215px, -127px, 18px, 16px, 271px, 234px, '../img/sprite--icon@1x.png', 'message-1x', );
$nav-left-brand-1x-name: 'nav-left--brand-1x';
$nav-left-brand-1x-x: 161px;
$nav-left-brand-1x-y: 178px;
$nav-left-brand-1x-offset-x: -161px;
$nav-left-brand-1x-offset-y: -178px;
$nav-left-brand-1x-width: 20px;
$nav-left-brand-1x-height: 20px;
$nav-left-brand-1x-total-width: 271px;
$nav-left-brand-1x-total-height: 234px;
$nav-left-brand-1x-image: '../img/sprite--icon@1x.png';
$nav-left-brand-1x: (161px, 178px, -161px, -178px, 20px, 20px, 271px, 234px, '../img/sprite--icon@1x.png', 'nav-left--brand-1x', );
$nav-left-1x-name: 'nav-left-1x';
$nav-left-1x-x: 141px;
$nav-left-1x-y: 178px;
$nav-left-1x-offset-x: -141px;
$nav-left-1x-offset-y: -178px;
$nav-left-1x-width: 20px;
$nav-left-1x-height: 20px;
$nav-left-1x-total-width: 271px;
$nav-left-1x-total-height: 234px;
$nav-left-1x-image: '../img/sprite--icon@1x.png';
$nav-left-1x: (141px, 178px, -141px, -178px, 20px, 20px, 271px, 234px, '../img/sprite--icon@1x.png', 'nav-left-1x', );
$nav-right-brand-1x-name: 'nav-right--brand-1x';
$nav-right-brand-1x-x: 121px;
$nav-right-brand-1x-y: 178px;
$nav-right-brand-1x-offset-x: -121px;
$nav-right-brand-1x-offset-y: -178px;
$nav-right-brand-1x-width: 20px;
$nav-right-brand-1x-height: 20px;
$nav-right-brand-1x-total-width: 271px;
$nav-right-brand-1x-total-height: 234px;
$nav-right-brand-1x-image: '../img/sprite--icon@1x.png';
$nav-right-brand-1x: (121px, 178px, -121px, -178px, 20px, 20px, 271px, 234px, '../img/sprite--icon@1x.png', 'nav-right--brand-1x', );
$nav-right-dark-1x-name: 'nav-right--dark-1x';
$nav-right-dark-1x-x: 81px;
$nav-right-dark-1x-y: 178px;
$nav-right-dark-1x-offset-x: -81px;
$nav-right-dark-1x-offset-y: -178px;
$nav-right-dark-1x-width: 20px;
$nav-right-dark-1x-height: 20px;
$nav-right-dark-1x-total-width: 271px;
$nav-right-dark-1x-total-height: 234px;
$nav-right-dark-1x-image: '../img/sprite--icon@1x.png';
$nav-right-dark-1x: (81px, 178px, -81px, -178px, 20px, 20px, 271px, 234px, '../img/sprite--icon@1x.png', 'nav-right--dark-1x', );
$nav-right-1x-name: 'nav-right-1x';
$nav-right-1x-x: 242px;
$nav-right-1x-y: 146px;
$nav-right-1x-offset-x: -242px;
$nav-right-1x-offset-y: -146px;
$nav-right-1x-width: 20px;
$nav-right-1x-height: 20px;
$nav-right-1x-total-width: 271px;
$nav-right-1x-total-height: 234px;
$nav-right-1x-image: '../img/sprite--icon@1x.png';
$nav-right-1x: (242px, 146px, -242px, -146px, 20px, 20px, 271px, 234px, '../img/sprite--icon@1x.png', 'nav-right-1x', );
$pencil-light-1x-name: 'pencil--light-1x';
$pencil-light-1x-x: 257px;
$pencil-light-1x-y: 80px;
$pencil-light-1x-offset-x: -257px;
$pencil-light-1x-offset-y: -80px;
$pencil-light-1x-width: 14px;
$pencil-light-1x-height: 14px;
$pencil-light-1x-total-width: 271px;
$pencil-light-1x-total-height: 234px;
$pencil-light-1x-image: '../img/sprite--icon@1x.png';
$pencil-light-1x: (257px, 80px, -257px, -80px, 14px, 14px, 271px, 234px, '../img/sprite--icon@1x.png', 'pencil--light-1x', );
$pencil-1x-name: 'pencil-1x';
$pencil-1x-x: 257px;
$pencil-1x-y: 94px;
$pencil-1x-offset-x: -257px;
$pencil-1x-offset-y: -94px;
$pencil-1x-width: 14px;
$pencil-1x-height: 14px;
$pencil-1x-total-width: 271px;
$pencil-1x-total-height: 234px;
$pencil-1x-image: '../img/sprite--icon@1x.png';
$pencil-1x: (257px, 94px, -257px, -94px, 14px, 14px, 271px, 234px, '../img/sprite--icon@1x.png', 'pencil-1x', );
$reply-active-1x-name: 'reply--active-1x';
$reply-active-1x-x: 139px;
$reply-active-1x-y: 95px;
$reply-active-1x-offset-x: -139px;
$reply-active-1x-offset-y: -95px;
$reply-active-1x-width: 15px;
$reply-active-1x-height: 15px;
$reply-active-1x-total-width: 271px;
$reply-active-1x-total-height: 234px;
$reply-active-1x-image: '../img/sprite--icon@1x.png';
$reply-active-1x: (139px, 95px, -139px, -95px, 15px, 15px, 271px, 234px, '../img/sprite--icon@1x.png', 'reply--active-1x', );
$reply-1x-name: 'reply-1x';
$reply-1x-x: 139px;
$reply-1x-y: 80px;
$reply-1x-offset-x: -139px;
$reply-1x-offset-y: -80px;
$reply-1x-width: 15px;
$reply-1x-height: 15px;
$reply-1x-total-width: 271px;
$reply-1x-total-height: 234px;
$reply-1x-image: '../img/sprite--icon@1x.png';
$reply-1x: (139px, 80px, -139px, -80px, 15px, 15px, 271px, 234px, '../img/sprite--icon@1x.png', 'reply-1x', );
$star-1x-name: 'star-1x';
$star-1x-x: 154px;
$star-1x-y: 20px;
$star-1x-offset-x: -154px;
$star-1x-offset-y: -20px;
$star-1x-width: 106px;
$star-1x-height: 20px;
$star-1x-total-width: 271px;
$star-1x-total-height: 234px;
$star-1x-image: '../img/sprite--icon@1x.png';
$star-1x: (154px, 20px, -154px, -20px, 106px, 20px, 271px, 234px, '../img/sprite--icon@1x.png', 'star-1x', );
$stars-1x-name: 'stars-1x';
$stars-1x-x: 154px;
$stars-1x-y: 0px;
$stars-1x-offset-x: -154px;
$stars-1x-offset-y: 0px;
$stars-1x-width: 117px;
$stars-1x-height: 20px;
$stars-1x-total-width: 271px;
$stars-1x-total-height: 234px;
$stars-1x-image: '../img/sprite--icon@1x.png';
$stars-1x: (154px, 0px, -154px, 0px, 117px, 20px, 271px, 234px, '../img/sprite--icon@1x.png', 'stars-1x', );
$success-large-1x-name: 'success--large-1x';
$success-large-1x-x: 74px;
$success-large-1x-y: 80px;
$success-large-1x-offset-x: -74px;
$success-large-1x-offset-y: -80px;
$success-large-1x-width: 65px;
$success-large-1x-height: 65px;
$success-large-1x-total-width: 271px;
$success-large-1x-total-height: 234px;
$success-large-1x-image: '../img/sprite--icon@1x.png';
$success-large-1x: (74px, 80px, -74px, -80px, 65px, 65px, 271px, 234px, '../img/sprite--icon@1x.png', 'success--large-1x', );
$success-1x-name: 'success-1x';
$success-1x-x: 56px;
$success-1x-y: 178px;
$success-1x-offset-x: -56px;
$success-1x-offset-y: -178px;
$success-1x-width: 25px;
$success-1x-height: 25px;
$success-1x-total-width: 271px;
$success-1x-total-height: 234px;
$success-1x-image: '../img/sprite--icon@1x.png';
$success-1x: (56px, 178px, -56px, -178px, 25px, 25px, 271px, 234px, '../img/sprite--icon@1x.png', 'success-1x', );
$teacher-large-1x-name: 'teacher-large-1x';
$teacher-large-1x-x: 194px;
$teacher-large-1x-y: 40px;
$teacher-large-1x-offset-x: -194px;
$teacher-large-1x-offset-y: -40px;
$teacher-large-1x-width: 40px;
$teacher-large-1x-height: 32px;
$teacher-large-1x-total-width: 271px;
$teacher-large-1x-total-height: 234px;
$teacher-large-1x-image: '../img/sprite--icon@1x.png';
$teacher-large-1x: (194px, 40px, -194px, -40px, 40px, 32px, 271px, 234px, '../img/sprite--icon@1x.png', 'teacher-large-1x', );
$teacher-1x-name: 'teacher-1x';
$teacher-1x-x: 101px;
$teacher-1x-y: 178px;
$teacher-1x-offset-x: -101px;
$teacher-1x-offset-y: -178px;
$teacher-1x-width: 20px;
$teacher-1x-height: 20px;
$teacher-1x-total-width: 271px;
$teacher-1x-total-height: 234px;
$teacher-1x-image: '../img/sprite--icon@1x.png';
$teacher-1x: (101px, 178px, -101px, -178px, 20px, 20px, 271px, 234px, '../img/sprite--icon@1x.png', 'teacher-1x', );
$telephone-1x-name: 'telephone-1x';
$telephone-1x-x: 185px;
$telephone-1x-y: 80px;
$telephone-1x-offset-x: -185px;
$telephone-1x-offset-y: -80px;
$telephone-1x-width: 34px;
$telephone-1x-height: 35px;
$telephone-1x-total-width: 271px;
$telephone-1x-total-height: 234px;
$telephone-1x-image: '../img/sprite--icon@1x.png';
$telephone-1x: (185px, 80px, -185px, -80px, 34px, 35px, 271px, 234px, '../img/sprite--icon@1x.png', 'telephone-1x', );
$thumbs-down-1x-name: 'thumbs-down-1x';
$thumbs-down-1x-x: 181px;
$thumbs-down-1x-y: 178px;
$thumbs-down-1x-offset-x: -181px;
$thumbs-down-1x-offset-y: -178px;
$thumbs-down-1x-width: 19px;
$thumbs-down-1x-height: 20px;
$thumbs-down-1x-total-width: 271px;
$thumbs-down-1x-total-height: 234px;
$thumbs-down-1x-image: '../img/sprite--icon@1x.png';
$thumbs-down-1x: (181px, 178px, -181px, -178px, 19px, 20px, 271px, 234px, '../img/sprite--icon@1x.png', 'thumbs-down-1x', );
$thumbs-up-1x-name: 'thumbs-up-1x';
$thumbs-up-1x-x: 200px;
$thumbs-up-1x-y: 178px;
$thumbs-up-1x-offset-x: -200px;
$thumbs-up-1x-offset-y: -178px;
$thumbs-up-1x-width: 19px;
$thumbs-up-1x-height: 20px;
$thumbs-up-1x-total-width: 271px;
$thumbs-up-1x-total-height: 234px;
$thumbs-up-1x-image: '../img/sprite--icon@1x.png';
$thumbs-up-1x: (200px, 178px, -200px, -178px, 19px, 20px, 271px, 234px, '../img/sprite--icon@1x.png', 'thumbs-up-1x', );
$twentyfourhour-large-1x-name: 'twentyfourhour--large-1x';
$twentyfourhour-large-1x-x: 0px;
$twentyfourhour-large-1x-y: 0px;
$twentyfourhour-large-1x-offset-x: 0px;
$twentyfourhour-large-1x-offset-y: 0px;
$twentyfourhour-large-1x-width: 80px;
$twentyfourhour-large-1x-height: 80px;
$twentyfourhour-large-1x-total-width: 271px;
$twentyfourhour-large-1x-total-height: 234px;
$twentyfourhour-large-1x-image: '../img/sprite--icon@1x.png';
$twentyfourhour-large-1x: (0px, 0px, 0px, 0px, 80px, 80px, 271px, 234px, '../img/sprite--icon@1x.png', 'twentyfourhour--large-1x', );
$twentyfourhour-1x-name: 'twentyfourhour-1x';
$twentyfourhour-1x-x: 154px;
$twentyfourhour-1x-y: 40px;
$twentyfourhour-1x-offset-x: -154px;
$twentyfourhour-1x-offset-y: -40px;
$twentyfourhour-1x-width: 40px;
$twentyfourhour-1x-height: 40px;
$twentyfourhour-1x-total-width: 271px;
$twentyfourhour-1x-total-height: 234px;
$twentyfourhour-1x-image: '../img/sprite--icon@1x.png';
$twentyfourhour-1x: (154px, 40px, -154px, -40px, 40px, 40px, 271px, 234px, '../img/sprite--icon@1x.png', 'twentyfourhour-1x', );
$twitter-1x-name: 'twitter-1x';
$twitter-1x-x: 234px;
$twitter-1x-y: 40px;
$twitter-1x-offset-x: -234px;
$twitter-1x-offset-y: -40px;
$twitter-1x-width: 35px;
$twitter-1x-height: 30px;
$twitter-1x-total-width: 271px;
$twitter-1x-total-height: 234px;
$twitter-1x-image: '../img/sprite--icon@1x.png';
$twitter-1x: (234px, 40px, -234px, -40px, 35px, 30px, 271px, 234px, '../img/sprite--icon@1x.png', 'twitter-1x', );
$video-large-1x-name: 'video-large-1x';
$video-large-1x-x: 94px;
$video-large-1x-y: 146px;
$video-large-1x-offset-x: -94px;
$video-large-1x-offset-y: -146px;
$video-large-1x-width: 30px;
$video-large-1x-height: 30px;
$video-large-1x-total-width: 271px;
$video-large-1x-total-height: 234px;
$video-large-1x-image: '../img/sprite--icon@1x.png';
$video-large-1x: (94px, 146px, -94px, -146px, 30px, 30px, 271px, 234px, '../img/sprite--icon@1x.png', 'video-large-1x', );
$video-1x-name: 'video-1x';
$video-1x-x: 16px;
$video-1x-y: 203px;
$video-1x-offset-x: -16px;
$video-1x-offset-y: -203px;
$video-1x-width: 16px;
$video-1x-height: 16px;
$video-1x-total-width: 271px;
$video-1x-total-height: 234px;
$video-1x-image: '../img/sprite--icon@1x.png';
$video-1x: (16px, 203px, -16px, -203px, 16px, 16px, 271px, 234px, '../img/sprite--icon@1x.png', 'video-1x', );
$warn-large-1x-name: 'warn--large-1x';
$warn-large-1x-x: 80px;
$warn-large-1x-y: 0px;
$warn-large-1x-offset-x: -80px;
$warn-large-1x-offset-y: 0px;
$warn-large-1x-width: 74px;
$warn-large-1x-height: 66px;
$warn-large-1x-total-width: 271px;
$warn-large-1x-total-height: 234px;
$warn-large-1x-image: '../img/sprite--icon@1x.png';
$warn-large-1x: (80px, 0px, -80px, 0px, 74px, 66px, 271px, 234px, '../img/sprite--icon@1x.png', 'warn--large-1x', );
$warn-1x-name: 'warn-1x';
$warn-1x-x: 28px;
$warn-1x-y: 178px;
$warn-1x-offset-x: -28px;
$warn-1x-offset-y: -178px;
$warn-1x-width: 28px;
$warn-1x-height: 25px;
$warn-1x-total-width: 271px;
$warn-1x-total-height: 234px;
$warn-1x-image: '../img/sprite--icon@1x.png';
$warn-1x: (28px, 178px, -28px, -178px, 28px, 25px, 271px, 234px, '../img/sprite--icon@1x.png', 'warn-1x', );
$spritesheet-width: 271px;
$spritesheet-height: 234px;
$spritesheet-image: '../img/sprite--icon@1x.png';
$spritesheet-sprites: ($book-large-1x, $book-1x, $bulb-1x, $burger-1x, $cancel-active-1x, $cancel-1x, $card-active-1x, $card-1x, $confirm-active-1x, $confirm-1x, $contact-1x, $cross-1x, $delete-active-1x, $delete-1x, $edit-active-1x, $edit-1x, $error-large-1x, $error-1x, $eye-active-1x, $eye-1x, $facebook-1x, $fancy-tick-1x, $gplus-1x, $heart-1x, $line-box-tick-1x, $line-tick-1x, $location-1x, $menu-1x, $message-active-1x, $message-large-1x, $message-1x, $nav-left-brand-1x, $nav-left-1x, $nav-right-brand-1x, $nav-right-dark-1x, $nav-right-1x, $pencil-light-1x, $pencil-1x, $reply-active-1x, $reply-1x, $star-1x, $stars-1x, $success-large-1x, $success-1x, $teacher-large-1x, $teacher-1x, $telephone-1x, $thumbs-down-1x, $thumbs-up-1x, $twentyfourhour-large-1x, $twentyfourhour-1x, $twitter-1x, $video-large-1x, $video-1x, $warn-large-1x, $warn-1x, );
$spritesheet: (271px, 234px, '../img/sprite--icon@1x.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
