/**
 * Settings
 */
@import "../vendor/inuit-defaults/settings.defaults";
@import "settings.spacings";
@import "settings.colours";
@import "settings.brand";
@import "settings.widths";
@import "settings.font-weights";
@import "settings.responsive";
@import "settings.defaults";
/**
 * Tools
 */
@import "../vendor/inuit-functions/tools.functions";
@import "../vendor/inuit-responsive-tools/tools.responsive";
@import "../vendor/inuit-mixins/tools.mixins";
@import "../vendor/inuit-tools-widths/tools.widths";
@import "tools.mixins";
/**
 * Sprite
 */
@import "sprite.graphic@1x";
@import "sprite.icon@1x";
@import "sprite.subject@1x";
/**
 * Generic
 */
@import "../vendor/inuit-normalize/generic.normalize";
@import "../vendor/inuit-box-sizing/generic.box-sizing";
.inline {
  display : inline !important;
}
.ib {
  display : inline-block !important;
}
/**
 * Base
 */
@import "../vendor/inuit-page/base.page";
@import "../vendor/inuit-images/base.images";
@import "base.page";
@import "base.type";
@import "base.headings";
@import "base.links";
@import "base.rule";

.relative {
  position : relative;
}
/**
 * Objects
 */
@import "../vendor/inuit-layout/objects.layout";
$inuit-enable-flag--small : true;
@import "../vendor/inuit-flag/objects.flag";
@import "../vendor/inuit-box/objects.box";
@import "../vendor/inuit-pack/objects.pack";
@import "../vendor/inuit-block/objects.block";
@import "../vendor/inuit-list-inline/objects.list-inline";
@import "../vendor/inuit-list-bare/objects.list-bare";
@import "../vendor/inuit-list-ui/objects.list-ui";
@import "../vendor/inuit-tables/objects.tables";
// @import "../vendor/inuit-tabs/objects.tabs";
@import "../vendor/inuit-media/objects.media";
@import "../vendor/inuit-buttons/objects.buttons";
@import "objects.wrappers";
@import "objects.layouts";
@import "objects.buttons";
@import "objects.block";
@import "objects.media";
@import "objects.inputs";
@import "objects.selects";
@import "objects.list-inline";
$enable-pill--small : true;
$pill-background : $brand-color--dark;
@import "objects.pills";

/**
 * Components
 */
@import "components.iconic";
@import "components.media-cascade";
@import "components.bands";
@import "components.features";
@import "components.feature-blocks";
@import "components.blockquotes";
@import "components.badges";
@import "components.box";
@import "components.circles";
@import "components.clickable";
@import "components.columns";
@import "components.list-checked";
@import "components.list-pros-cons";
@import "components.list-collapsible";
@import "components.list-grid";
@import "components.page-drawer";
@import "components.page-head";
@import "components.site-nav";
@import "components.page-foot";
@import "components.promo-blocks";
@import "components.progress-bar";
@import "components.vs";
@import "components.kb";
@import "components.dialogue";
@import "components.fields";
@import "components.checkboxes";
@import "components.radios";
@import "components.selects";
@import "components.heading-metas";
@import "components.list-ui";
@import "components.table";
@import "components.profile-pics";
@import "components.metas";
@import "components.search-header";
@import "components.search-results";
@import "components.toasts";
@import "components.messages";
@import "components.nprogress";
@import "components.tipped";
@import "components.pagination";
@import "components.message-form";
@import "components.tabs";
@import "components.fieldset";
@import "components.profile-tagline";
@import "components.profile-details";
@import "components.profile-meta";
@import "components.profile-body";
@import "components.profile-aside";
@import "components.profile-reviews";
@import "components.picture-upload";
@import "components.timeline";
@import "components.picker";
@import "components.tutor-stats";
@import "components.tutor-quiz";
@import "components.video-player";
@import "components.ziggeo";


.field__rating {
  overflow  : hidden;
  direction : rtl;
}
.field__rating__item {
  float        : left;
  cursor       : pointer;
  margin-right : 2px;

  .field__rating__item--checked ~ & {
    opacity : 0.5;
  }
}
.field__rating__input {
  position : absolute;
  top      : 0;
  left     : 0;
  display  : none;
}
.autocomplete {
  position : relative;
}
.autocomplete__list {
  padding       : $spacing-unit--tiny 0;
  margin        : $spacing-unit--tiny 0;
  list-style    : none;
  background    : $color-white;
  border-radius : $brand-round;
  position      : absolute;
  left          : $spacing-unit--small;
  right         : $spacing-unit--small;
  box-shadow    : 0 2px 4px rgba(0, 0, 0, .5);
}
.autocomplete__item {
  padding : $spacing-unit--tiny $spacing-unit;
  cursor  : pointer;

  &:hover {
    background : $color-alice;
  }
}
.autocomplete-suggestions {
  border     : 1px solid $color-ui;
  background : $color-white;
  overflow   : auto;
}
.autocomplete-suggestion {
  padding     : $spacing-unit--tiny $spacing-unit;
  cursor      : pointer;
  white-space : nowrap;
  overflow    : hidden;
}
.autocomplete-selected {
  background : $color-alice;
}
.autocomplete-group {
  padding : 2px 5px;

  strong {
    display       : block;
    border-bottom : 1px solid #000;
  }
}
.requirements {
  .page--account & {
    @include media-query('>1024') {
      padding-right : $spacing-unit--huge;
    }

    @include media-query('>1200') {
      padding-right : $spacing-unit--large;
    }
  }

  header {
    margin-top : $spacing-unit--small;
  }
  .heading {
    @include font-size(16px);
    @include font-weight('medium');
  }
}
.requirements__item {
  margin-bottom : $spacing-unit--tiny;
}
.requirements__title {
  &.requirements__title--completed {
    text-decoration : line-through;

    &,
    a {
      color : $color-alice;
    }
  }

  &.requirements__title--pending {
    &,
    a {
      color : lighten($brand-color, 35%);
    }
  }
}
/**
 * Pages
 */
.page--home {
  @import "pages.home";
}
.page--about {
  @import "pages.about";
}
.page--password {
  @import "pages.password";

}
.page--tutoring-jobs-listing {
  @import "pages.tutoring-jobs-listing";

}
@import "pages.become-a-tutor";
@import "pages.dashboard";
@import "pages.faqs";
@import "pages.profile";
@import "pages.account";
@import "pages.booking-confirm";
@import "pages.booking-confirmed";
@import "pages.blog";
@import "pages.jobs";

/**
 * Trumps
 */
@import "../vendor/inuit-spacing/trumps.spacing";
@import "../vendor/inuit-clearfix/trumps.clearfix";
@import "../vendor/inuit-widths-responsive/trumps.widths-responsive";
@import "trumps.widths";
@import "trumps.overflows";
@import "trumps.floats";

.u-truncate {
  overflow      : hidden;
  text-overflow : ellipsis;
  white-space   : nowrap;
}
.u-vam {
  vertical-align : middle !important;
}
