<div class="dialogue__wrapper wrapper basic_user_dialogue basic_user_dialogue__show">
    <div class="layout layout--center"><!--
        --><div class="layout__item dialogue__container">
        <div class="dialogue__window">

            <header class="dialogue__header">
                <a href="#" class="close icon icon--cross [ js-close ]"></a>
                <h4 class="heading"><%= title %></h4>
            </header>

            <p><%= body %></p>

            <form class="js-form" novalidate>
                <div class="tar">
                    <button class="btn"><%= submit %></button>
                </div>
            </form>

        </div>
    </div><!--
    --></div>
</div>

<div class="dialogue__overlay [ js-close ]"></div>
