<div class="dialogue__wrapper wrapper quiz quiz__introduction">
    <div class="layout layout--center"><!--
        --><div class="layout__item dialogue__container">
        <div class="dialogue__window">
            <header class="dialogue__header">
                <a href="#" class="close icon icon--cross [ js-close ]"></a>
                <h4 class="heading">You're almost ready to go live!</h4>
            </header>

            <p>Thank you for completing your profile. We want to make sure that you know how it all works so you get the best experience possible on Tutora! Read through the following details and then complete the quiz. Don't worry, it only takes a few minutes and will make sure that you get the most from tutoring with us.</p>

            <form class="js-form" novalidate>
                <div class="tar">
                    <button class="btn">Get started</button>
                </div>
            </form>
        </div>
    </div><!--
    --></div>
</div>

<div class="dialogue__overlay [ js-close ]"></div>
