<div class="dialogue__wrapper wrapper">
	<div class="layout layout--center"><!--
        --><div class="layout__item dialogue__container">
		<div class="dialogue__window">
			<header class="dialogue__header">
				<h4 class="heading"><%= _.lang('dialogue.profile.video.edit.heading') %></h4>
				<a href="#" class="close icon icon--cross [ js-close ]"></a>
			</header>

			<p><%= _.lang('dialogue.profile.video.edit.introduction') %></p>

			<div class="js-edit-wrapper">
				<div class="js-edit-video"></div>
			</div>
			<div class="dl__meta__left tal">
				<buton class="btn btn--error btn--delete">Delete</buton>
			</div>
			<div class="tar">
				<a href="#" class="u-mr [ js-close ]">Cancel</a>
				<button class="btn btn--save">Save</button>
			</div>
		</div>
	</div><!--
    --></div>
</div>

<div class="dialogue__overlay [ js-close ]"></div>