<div class="dialogue__wrapper wrapper">
	<div class="layout layout--center"><!--
        --><div class="layout__item dialogue__container">
		<div class="dialogue__window">
			<header class="dialogue__header">
				<h4 class="heading"><%= _.lang('dialogue.profile.video.record.heading') %></h4>
				<a href="#" class="cancle_buttons close icon icon--cross [ js-close ]"></a>
			</header>

			<p><%= _.lang('dialogue.profile.video.record.introduction') %></p>

			<div class="js-recorder-wrapper">
				<div class="js-recorder"></div>
			</div>

			<div class="tar">
				<a href="javascript:void(0)" class="cancle_buttons u-mr [ js-close ]">Cancel</a>
				<button class="btn btn--save">Save</button>
			</div>
		</div>
	</div><!--
    --></div>
</div>

<div class="dialogue__overlay [ js-close ]"></div>