<div class="dialogue__wrapper wrapper">
    <div class="layout layout--center"><!--
        --><div class="layout__item dialogue__container dialogue__container--tiny">
            <div class="dialogue__window">
                <header class="dialogue__header">
                    <h4 class="heading"><%= _.lang('dialogue.register.tutor.heading') %></h4>
                    <a href="#" class="close icon icon--cross js-close"></a>
                </header>

                <form class="layout js-form" autocomplete="off"><!--
                    --><div class="layout__item field">
                        <input type="text" name="first_name" placeholder="First Name" class="field__input input input--full input--squared input--bordered js-first-name">
                        <div class="field__error"></div>
                    </div><!--

                    --><div class="layout__item field">
                        <input type="text" name="last_name" placeholder="Last Name" class="field__input input input--full input--squared input--bordered js-last-name">
                        <div class="field__error"></div>
                    </div><!--

                    --><div class="layout__item field">
                        <input type="email" name="email" placeholder="Email" class="field__input input input--full input--squared input--bordered js-email">
                        <div class="field__error"></div>
                    </div><!--

                    --><div class="layout__item field">
                        <input type="tel" name="telephone" placeholder="Mobile Number" class="field__input input input--full input--squared input--bordered js-telephone">
                        <div class="field__error"></div>
                    </div><!--

                    --><div class="layout__item field">
                        <input type="password" name="password" placeholder="Password" class="field__input input input--full input--squared input--bordered js-password">
                        <div class="field__error"></div>
                    </div><!--

                    --><div class="layout__item u-mt-">
                        <button class="btn btn--full js-submit" onclick="ga('send', 'event', 'tutorSignup', 'create', '', 1)">Create Account</button>
                    </div><!--

                    --><div class="layout__item u-mt tac">
                        <p class="tiny">By creating your account, you&#39;re agreeing to our <a href="<%= laroute.route('terms.student') %>">Terms &amp; Conditions</a> and the
                          <a href="https://stripe.com/connect/account-terms" target="_blank">Stripe Connected Account Agreement</a>.</p>
                    </div><!--
                --></form>

                <nav class="dialogue__nav">
                    <a href="<%= laroute.route('auth.login') %>" data-js class="epsilon">
                        <%= _.lang('dialogue.auth.login.heading') %><span class="icon icon--nav-right--dark"></span>
                    </a>

                    <a href="<%= laroute.route('register.student') %>" data-js class="epsilon">
                        <%= _.lang('dialogue.register.student.heading.default') %><span class="icon icon--nav-right--dark"></span>
                    </a>
                </nav>
            </div>
        </div><!--
    --></div>
</div>

<div class="dialogue__overlay [ js-close ]"></div>
