<div class="dialogue__wrapper wrapper">
    <div class="layout layout--center"><!--
        --><div class="layout__item dialogue__container">
        <div class="dialogue__window">
            <header class="dialogue__header">
                <h4 class="heading">You are going to delete this Job</h4>
                <a href="#" class="close icon icon--cross [ js-close ]"></a>
            </header>

            <p>Are you sure?</p>

            <form class="js-form" novalidate>
                <div class="tar">
                    <a href="#" class="u-mr [ js-close ]">Cancel</a>
                    <button class="btn btn--error [ js-confirm ]">Confirm Delete</button>
                </div>
            </form>
        </div>
    </div><!--
    --></div>
</div>

<div class="dialogue__overlay [ js-close ]"></div>
