<div class="[ band band--ruled ]">
    <div class="wrapper">
        <h5 class="delta u-m0" style="display:inline;">Initial enquiry</h5>
    </div>
</div>

<div class="wrapper">
    <div class="layout"><!--
            --><div class="layout__item">
        <div class="osx">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tutor name</th>
                        <th>Message</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="<%= tutorLink %>"><%- tutor_name %></a></td>
                        <td><%- body %></td>
                        <td><%- created_at %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!--
        --></div>
</div>