<div class="[ band band--ruled u-mt]">
    <div class="wrapper">
        <h5 class="delta u-m0" style="display:inline;">Replies</h5>
        <p class="" style="display:inline; margin-left: 20px">Number of replies: <%- repliesNumber %></p>
    </div>
</div>

<div class="wrapper">
    <div class="layout"><!--
            --><div class="layout__item">
        <div class="osx">
            <table class="table">
                <thead>
                <tr>
                    <th>Tutor name</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div><!--
        --></div>
</div>