<div class="dialogue__wrapper wrapper quiz quiz__introduction">
    <div class="layout layout--center"><!--
        --><div class="layout__item dialogue__container">
        <div class="dialogue__window">
            <header class="dialogue__header">
                <a href="#" class="close icon icon--cross [ js-close ]"></a>
                <h4 class="heading"><%= title %></h4>
            </header>

            <p><%= text %></p>

            <form class="js-form" novalidate>
                <div class="tal block-50 dialog-buttons-top-padding-1">
                    <button type="button" class="btn btn--back">Back</button>
                </div>
                <div class="tar block-50 dialog-buttons-top-padding-1">
                    <button class="btn">Next</button>
                </div>
            </form>
        </div>
    </div><!--
    --></div>
</div>

<div class="dialogue__overlay [ js-close ]"></div>
