<div class="dialogue__wrapper wrapper">
    <div class="layout layout--center"><!--
        --><div class="layout__item dialogue__container">
            <div class="dialogue__window">
                <header class="dialogue__header">
                    <h4 class="heading"><%= _.lang('dialogue.review.cancel.heading') %></h4>
                    <a href="#" class="close icon icon--cross js-close"></a>
                </header>


                <form class="js-form" no-validate>
                    <div class="layout"><!--
                        --><div class="layout__item layout__item--actions tar">
                            <a href="#" class="u-mr js-close">Cancel</a>
                            <button class="btn btn js-submit"><%= _.lang('dialogue.review.cancel.submit') %></button>
                        </div><!--
                    --></div>
                </form>
            </div>
        </div><!--
    --></div>
</div>

<div class="dialogue__overlay"></div>
