<div class="dialogue__wrapper wrapper welcome welcome__stage1">
    <div class="layout layout--center"><!--
        --><div class="layout__item dialogue__container">
            <div class="dialogue__window">

                <header class="dialogue__header">
                    <a href="#" class="close icon icon--cross [ js-close ]"></a>
                    <h4 class="heading">Welcome to Tutora!</h4>
                </header>

                <p>We’re delighted that you’ve decided to tutor with us.</p>
                <p>To get started as a tutor, please complete your profile, which is your chance to tell parents and students why you would be the ideal tutor for them or their child.</p>
                <p>All of the sections which need to be completed are listed on the left of the page (you can click on them as you go). Please write your bio in the first person (I, my, etc.). Make sure that your photo is clear and professional, whilst your bio should mention all the experience and expertise you have in your chosen subjects.</p>

                <form class="js-form" novalidate>
                    <div class="tar">
                        <button class="btn">Next</button>
                    </div>
                </form>

            </div>
        </div><!--
    --></div>
</div>

<div class="dialogue__overlay [ js-close ]"></div>
