<div class="dialogue__wrapper wrapper welcome welcome__stage2">
    <div class="layout layout--center"><!--
        --><div class="layout__item dialogue__container">
            <div class="dialogue__window">

                <header class="dialogue__header">
                    <a href="#" class="close icon icon--cross [ js-close ]"></a>
                    <h4 class="heading">Welcome to Tutora!</h4>
                </header>

                <p>The details on the account page are just as important, but won’t be shared with students.</p>
                <p>As you can imagine, it’s important that we verify the identity of every tutor, which is why we ask you to upload a copy of your ID - either a driving licence or passport. Make sure that the image is clear and in colour.</p>
                <p>If you have a DBS check, great. Use the link on your profile page to send it to us. You don’t have to have one to tutor with us, but we can help you get one for £50 if you’d like one.</p>
                <p>You don’t have to add your bank details now, and it’s completely free to have a profile. We need your account details so that we can pay you. Most tutors prefer to enter them now in case they forget later, but it’s up to you.</p>
                <p>Once you’ve completed the profile, take the quiz and we’ll then get you up and running!</p>

                <form class="js-form" novalidate>
                    <div class="tal block-50 dialog-buttons-top-padding-1">
                        <button type="button" class="btn btn--back">Back</button>
                    </div>
                    <div class="tar block-50 dialog-buttons-top-padding-1">
                        <button class="btn">Create my profile</button>
                    </div>
                </form>

            </div>
        </div><!--
    --></div>
</div>

<div class="dialogue__overlay [ js-close ]"></div>
